<!-- <button class="k-button" (click)="pdf.saveAs('invoice.pdf')">  Save As PDF...</button>
<kendo-pdf-export #pdf paperSize="Letter" margin="1cm" [imageResolution]="'36 dpi'"></kendo-pdf-export> -->
<div class="container" *ngIf="entradaActiva">
  <div class="row">
    <div class="col-4">
      <strong>{{ entradaActiva.tipo }}</strong>
    </div>
    <div class="col-8">
      <h2>{{ licencia.titulo }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <img [src]="entradaActiva.img" alt="" class="li-imagen" width="320px">
      <p>Estado: <span class="nomodify"> {{ licencia.estado }} </span></p>
    </div>
    <div class="col-8">
      <h6> <span> Autor / intérprete </span> {{ entradaActiva.interprete_autor }}</h6>
      {{ entradaActiva.descripcion }}
      <div *ngIf="entradaActiva.seccion">
        <kendo-chip-list>
          <kendo-chip
          *ngFor="let secc of entradaActiva.seccion"
              [label]="secc"
          >
          </kendo-chip>
      </kendo-chip-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8"></div>
    <div class="col-4">
      <button kendoButton [icon]="'calendar'" *ngIf="!opened" (click)="open()">Agregar nueva licencia</button>
    </div>
  </div>
  <hr>
</div>
    <div class="k-overlay" *ngIf="opened"></div>
    <kendo-window
    [title]="'Licencia nueva: ' + licencia.titulo + ' (' + entradaActiva.tipo + ')'"
    *ngIf="opened" (close)="close()"
    [width]="800"
    [resizable]="false"
    [state]="'default'"
    [top]="10"
    >
    <app-nueva-licencia
      [licenciaId]="licencia.id"
      [licencias]="licencia.licencia"
      [nombreContenido]="licencia.titulo + ' (' + entradaActiva.tipo + ')'"
      (cierraEdicionLicencia)="cierraModalLicencia($event)"
      ></app-nueva-licencia>
    </kendo-window>

    <!-- <div class="panelbar-wrapper"> -->
      <kendo-panelbar *ngIf="licencia?.licencia">
        <kendo-panelbar-item *ngFor="let lic of licencia.licencia; let i=index" title="">
          <ng-template kendoPanelBarItemTitle>
            <span [class]="([lic.fechainicio, lic.fechafin] | claselicencia) + ' k-icon'"></span>
             {{ [lic.fechainicio, lic.fechafin] | titulolicencia}}
        </ng-template>
        <ng-template kendoPanelBarContent>
      <single-licencia
      [licencia]="lic"
      [indice]="i"
      [contenidoId]="licencia.id"
      (editacontenido)="editarlicencia($event)"


      >
    </single-licencia>
    </ng-template>
        </kendo-panelbar-item>
    </kendo-panelbar>
  <!-- </div> -->
  <!-- <button (click)="showConfirmation()">  TEST</button> -->
  <div kendoDialogContainer></div>

  <!-- <div *ngFor="let lic of licencia.licencia">

    <button class="k-button" (click)="pdf.saveAs('invoice.pdf')">  Save As PDF...</button>

<div style="position: absolute; left: -100000px; top: 0;">
  <kendo-pdf-export #pdf paperSize="Letter" margin="1cm" [imageResolution]="'36 dpi'" >
  la li le la
  <p>
    {{ lic | json}}
  </p>
</kendo-pdf-export>
</div>


  </div> -->

<!-- <pre>
  {{ licencia |json }}
</pre> -->
