<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Licencias <span>Maguaré</span></a> -->
  <a class="navbar-brand" routerLink="/">
    <img src="assets/mag.png" width="120" height="40" class="d-inline-block align-top" alt="" loading="lazy"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active">
        <a class="nav-link" routerLink="/">Inicio<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active" *ngIf="loggueado">
        <a class="nav-link" routerLink="/contenidos">Contenidos</a>
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active" *ngIf="loggueado">
        <a class="nav-link" routerLink="/reportelicencias">Reporte licencias</a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active" *ngIf="loggueado">
        <a class="nav-link" routerLink="/contactos">Contactos</a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" routerLinkActive="active" *ngIf="!loggueado">
        <a class="nav-link" routerLink="/ingreso">Ingreso</a>
      </li>
    </ul>


    <button
    kendoButton
    *ngIf="loggueado"
    [primary]="true"
    class="btn btn-outline-success my-2 my-sm-0" type="button" icon="star-outline" (click)="logout()">Cerrar sesión de {{ usuario }}</button>


</div>
</nav>


      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->



<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">Licencias Maguaré</a>

  <div class="collapse navbar-collapse" id="navbarText" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLink="/home">Home </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="loggueado">
        <a class="nav-link" routerLink="/contenidos">Contenidos</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="loggueado">
        <a class="nav-link" routerLink="/reportelicencias">Reporte licencias</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="loggueado">
        <a class="nav-link" routerLink="/contactos">Contactos</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/protegida">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text" *ngIf="!loggueado">
      <a class="nav-link" routerLink="/ingreso">Ingreso</a>
    </span>
    <span class="navbar-text" *ngIf="loggueado">
       <a class="nav-link" (click)="logout()">Salida</a>
    </span>
<span style="color: yellow"> LOGUEADO: {{ loggueado }} -- USUARIO: {{ usuario }} </span>
  </div>
</nav> -->

