<div class="container">
  <div class="col-12">
    <form
    autocomplete="off"
    [formGroup]="formacontacto"
    (ngSubmit)="salvarcontacto()"
    >

    <div class="form-group row">

      <div class="col-12">
        <kendo-textbox-container  floatingLabel="Empresa">
          <input class="entradatx" kendoTextBox formControlName="empresa"/>
        </kendo-textbox-container>
      </div>
    </div>

    <div class="form-group row">

      <div class="col-12">
        <kendo-textbox-container  floatingLabel="Nombres">
          <input class="entradatx" kendoTextBox formControlName="nombres"  />
        </kendo-textbox-container>
      </div>
    </div>




    <div class="form-group row">

      <div class="col-12">
        <kendo-textbox-container floatingLabel="Apellidos">
          <input kendoTextBox class="entradatx" formControlName="apellidos"  />
        </kendo-textbox-container>
      </div>
    </div>

    <div class="form-group row">

      <div class="col-12">
        <kendo-textbox-container floatingLabel="Correo electrónico">
          <input kendoTextBox class="entradatx" formControlName="correo"/>
        </kendo-textbox-container>
      </div>
    </div>





    <div class="form-group row" *ngIf="tipodocumento">

      <div class="col-6">
    <kendo-dropdownlist
    [defaultItem]="tipodocumento[0]"
    [data]="tipodocumento[1]"
    [textField]="'text'"
    [valueField]="'value'"
    formControlName="tipodocumento"
    style="width: 350px; margin-top: 1.3em;"

    ></kendo-dropdownlist>
      </div>
      <div class="col-6">
        <kendo-textbox-container floatingLabel="Número de documento">
          <input kendoTextBox formControlName="documento"/>
        </kendo-textbox-container>
      </div>
    </div>


    <div class="form-group row">

      <div class="col-12">
        <kendo-textbox-container floatingLabel="Dirección">
          <input kendoTextBox formControlName="direccion"/>
        </kendo-textbox-container>
      </div>
    </div>

    <div class="form-group row">

      <div class="col-8" formArrayName="telefono">
        <div
        *ngFor="let item of getTelefono.controls; let indicephone = index" [formGroupName]="indicephone">
        <kendo-textbox-container class="repetible" [floatingLabel]="'Teléfono ' + (indicephone + 1)">
        <input kendoTextBox formControlName="tel" style="display: inline;"/>
        <button kendoButton [icon]="'minus-outline'" type="button" (click)="removeTelefono(indicephone)" >Quitar teléfono</button>
        </kendo-textbox-container>




        </div>
        <button kendoButton [icon]="'plus-outline'" type="button" (click)="addTelefono()" > Agregar teléfono </button>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary">
          Guardar
        </button>
        <button kendobutton (click)="cierraModal.emit(false)" >Cancelar</button>

      </div>
    </div>

  </form>
  </div>
</div>



