<div class="container">
  <div class="row">
    <div class="col-4">
      <h3>Prototipo</h3>
    </div>
    <div class="col-8">
      <h3>Sistema de gestión de licencias</h3>
      <h4>Maguaré</h4>
      <h5>Jaime de Greiff</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <kendo-switch
          [(ngModel)]="checked"
          [onLabel]="'0'"
          [offLabel]="'$'"
        ></kendo-switch>
        <hr>

      <button kendoButton [icon]="'minus-outline'" type="button" (click)="setEstado('jaime')" >SI</button>
      <button kendoButton [icon]="'plus-outline'" type="button" (click)="setEstado('biko')">NO</button>

      {{ statttus | async }}
    </div>
  </div>
</div>
