<div class="container">
  <div class="col-12">
    <span> {{ licenciaId }} -- {{ usuarioactivo }} </span>
  </div>
  <div class="col-12">
    <form
      autocomplete="off"
      [formGroup]="formulario"
      (ngSubmit)="guardaLicencia()"
    >
      <div>
        <div class="form-group row">
          <label class="col-4 col-form-label">Fecha inicio</label>
          <div class="col-8">
            <kendo-datepicker formControlName="fechainicio">
              <kendo-datepicker-messages
                today="Hoy"
                toggle="Cambiar calendario"
              ></kendo-datepicker-messages>
            </kendo-datepicker>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4 col-form-label"
            >Fecha fin (Deje en blanco sí es indefinida)</label
          >
          <div class="col-8">
            <kendo-datepicker formControlName="fechafin">
              <kendo-datepicker-messages
                today="Hoy"
                toggle="Cambiar calendario"
              ></kendo-datepicker-messages>
            </kendo-datepicker>
          </div>
        </div>
        <div>
          <div class="form-group row" *ngIf="formadeadquisicion">
            <label class="col-4 col-form-label">Forma de adquisición</label>
            <div class="col-8">
              <kendo-dropdownlist
                [defaultItem]="formadeadquisicion[0]"
                [data]="formadeadquisicion[1]"
                [textField]="'text'"
                [valueField]="'value'"
                formControlName="formaadquisicion"
                style="width: 350px;"
              ></kendo-dropdownlist>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-4 col-form-label">Observaciones sobre la forma de adquisición</label>
            <div class="col-8">
              <textarea kendoTextArea formControlName="obsformaadquisicion"></textarea>

            </div>
          </div>


          <div class="form-group row" *ngIf="formulario.value.formaadquisicion?.value === 'Compra'">
            <label class="col-4 col-form-label">Valor</label>
            <div class="col-8">
              <kendo-numerictextbox
              [format]="formatOptions"
            [min]="0"

            formControlName="valor"
        ></kendo-numerictextbox>

        <span style="margin-left: 2em; font-size: 1.2rem"
        [class]='formulario.value.valor  > 0 ? "badge badge-primary" : "badge badge-info"'>
        {{ formulario.value.valor > 0 ? "Oneroso" : "Gratuito" }}
      </span>





            </div>
          </div>





          <div class="form-group row">
            <label class="col-4 col-form-label">Modalidades de uso</label>
            <div class="col-8">
              <kendo-multiselect
                [data]="modalidades"
                formControlName="modalidadesdeuso"
              ></kendo-multiselect>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Observaciones sobre las modalidades de uso</label>
            <div class="col-8">
              <textarea kendoTextArea formControlName="obsmodalidadesdeuso"></textarea>

            </div>
          </div>



          <div class="form-group row">
            <label class="col-4 col-form-label">Derechos licenciados</label>
            <div class="col-8">
              <kendo-multiselect
                [data]="derechos"
                formControlName="derechoslicenciados"
              ></kendo-multiselect>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Observaciones sobre los derechos licenciados</label>
            <div class="col-8">
              <textarea kendoTextArea formControlName="obsderechoslicenciados"></textarea>

            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" *ngIf="contactos">
        <div class="col-6">
        <label class="col-form-label" *ngIf="!activecontacto">Contacto</label>
        <contactomaguare *ngIf="activecontacto" [idContacto]="activecontacto"></contactomaguare>
        </div>
        <div class="col-6">
          <kendo-dropdownlist
            [defaultItem]="contactoslist[0]"
            [data]="contactoslist[1]"
            [textField]="'text'"
            [valueField]="'value'"
            formControlName="contacto"
            style="width: 350px;"
            (valueChange)="contactoCambia($event)"
          ></kendo-dropdownlist>
          <button kendoButton *ngIf="!opened" (click)="open()">
            Crear nuevo titular de derechos
          </button>

        </div>
      </div>





          <div style="border: 2px crimson solid; padding: 1em;">
            <button kendoButton type="button" (click)="agregaSoportes()">Agregar nuevo soporte</button>
            <div class="form-group" *ngFor="let item of getSopps.controls; let i = index">
              <ng-container [formGroup]="item">
              <input formControlName='descripciones' kendoTextBox   />
              <kendo-fileselect
              formControlName='archivos'
              [multiple]="false"
              [restrictions]="restriccionesUpload"
              >
                <kendo-upload-messages
                  select="Seleccione..."
                  uploadSelectedFiles="Subir archivos"
                  clearSelectedFiles="Anular la selección"
                  dropFilesHere ="Arrastre aquí el archivo"
                  invalidFileExtension = "Tipo de archivo No permitido (válidos: jpg, png y pdf)"
                  invalidMaxFileSize ="Tamaño de archivo excede los 5mb"
                  remove = "Quitar el archivo"
                >
                </kendo-upload-messages>
              </kendo-fileselect>
              <button kendoButton type="button" (click)="quitaSoporte(i)">Remover soporte</button>
            </ng-container>
              <!-- <input [formControlName]="'describex'" kendoTextBox /> -->
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Observaciones GENERALES</label>
            <div class="col-8">
              <textarea kendoTextArea formControlName="observaciones"></textarea>

            </div>
          </div>


      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">


          <button
            type="submit"
            class="btn btn-outline-primary"
            *ngIf="formulario.valid"
          >
            Guardar
          </button>

          <button
            type="button"
            class="btn btn-outline-primary" (click)="cancelaEdicion()">
            Cancelar la edición
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<pre style="background: pink;" *ngIf="licenciaEditada">
  {{ licenciaEditada | json }}

</pre>
<pre>
  {{ formulario.value | json }}
</pre>



<div class="col-12">
  <kendo-dialog
    title="Nuevo contacto"
    *ngIf="opened"
    [minWidth]="600"
    [width]="600"
  >
    <app-nuevoeditarcontacto
      [contactoId]="''"
      [origenModal]="true"
      (cierraModal)="cerrar($event)"
    ></app-nuevoeditarcontacto>
  </kendo-dialog>
</div>




