
<!-- <div class="container">
  <app-navbar></app-navbar>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        2020 - Jaime de Greiff
      </p>
    </div>
  </footer>
</div> -->

<div class="container">

    <app-navbar></app-navbar>

  <section>
    <router-outlet></router-outlet>
  </section>

  <footer class="footer">

  <div class="columns is-mobile is-centered">
  <div class="field is-grouped is-grouped-multiline">
  <div class="control">
    <div class="tags has-addons"><a class="tag is-link" href="https://github.com/BulmaTemplates/bulma-templates">Bulma Templates</a>
    <span class="tag is-info">MIT license</span>
  </div>
  </div>
  <div class="control">
  <div class="tags has-addons">
    <span class="tag is-dark">based on a pen</span>
    <span class="tag has-addons is-warning"><a href="https://codepen.io/melanieseltzer/pen/odOXWM"><i class="fab fa-lg fa-codepen"></i></a></span>
  </div>
  </div>
  </div>
  </div>

  </footer>
</div>
