
<!-- <div class="container">
  <app-navbar></app-navbar>
  <section>
    <router-outlet></router-outlet>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        2020 - Jaime de Greiff
      </p>
    </div>
  </footer>
</div> -->

<div class="container">

    <app-navbar></app-navbar>

  <section class="section">
    <router-outlet></router-outlet>
  </section>

  <footer class="footer">

  <div class="columns is-mobile is-centered">
  <div class="field is-grouped is-grouped-multiline">
  <div class="control">
    <div class="tags has-addons"><a class="tag is-link" href="#">Jaime de Greiff</a>
    <span class="tag is-info">2020</span>
  </div>
  </div>

  </div>
  </div>

  </footer>
</div>
