
  <div class="columns is-multiline">
    <div class="column is-8 is-offset-2 register">
      <div class="columns">
        <div class="column left">
          <h1 class="title is-2">Licencias Maguaré </h1>
          <h2 class="subtitle colored is-4">Ingrese con su usuario de Maguaré</h2>
        </div>
        <div class="column right has-text-centered">
          <form autocomplete="off" [formGroup]="forma" (ngSubmit)="ingreso()">
            <div class="field">
              <div class="control">
                <input class="input is-medium" type="text" placeholder="Correo" formControlName="nombre">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium" type="password" placeholder="Contraseña" formControlName="contrasena">
              </div>
            </div>
            <button class="button is-block is-primary is-fullwidth is-medium">Ingresar</button>
            <br />
            <small><em>Sistema de gestión de licencias para Maguaré</em></small>
          </form>
        </div>
      </div>
    </div>

  </div>


<!--

<h4>Formulario de <small>acceso</small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="ingreso()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Contraseña</label>
      <div class="col-8">

        <input class="form-control"
               type="password"
               placeholder="contraseña wordpress"
               formControlName="contrasena"
               >
      </div>
    </div>

  </div>




  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="button" *ngIf="forma.valid">
        Ingresar
      </button>
    </div>
  </div>

</form>

<hr> -->
<!-- <pre>

  Estado del formulario: {{ forma.valid }}
</pre>
<pre>
  {{ forma.value | json }}
</pre>
<pre>
  {{ tokenValido}}
</pre> -->
