<div class="container" *ngIf="entradawp">
  <div class="row">
    <div class="col-12">
      <h3> {{ entradawp.titulo }} </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img [src]="entradawp.img" alt="" *ngIf="entradawp" class="li-imagen">

    </div>
    <div class="col-8" >
      {{ entradawp.descripcion }}

      <!-- <button
      *ngIf="!existeEnLicencias"
      (click)="creacontenido()">Incorporar al sistema de gestión de licencias</button> -->
      <br>
      <button *ngIf="!existeEnLicencias" kendoButton (click)="creacontenido()" [primary]="true">Incorporar al sistema de gestión de licencias</button>

      <button *ngIf="existeEnLicencias" kendoButton (click)="editarlicencia()" [primary]="true">Editar licencias para este contenido</button>
      <!-- <button
      *ngIf="existeEnLicencias"
      (click)="editarlicencia()">Editar</button> -->
    </div>
  </div>

  <!-- <pre *ngIf="entradawp">
    {{ entradawp | json }}
  </pre> -->

  <!-- <ul>
    <li *ngFor="let licencia of licencias">
      {{ licencia.wpid }}
    </li>
  </ul> -->

</div>
