/* You can add global styles to this file, and also import other style files */
/*! debug.css | MIT License | zaydek.github.com/debug.css */
// Set your brand colors
$purple: #3175B7;
$pink: #367C92;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #fbfcf9;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

@import "../node_modules/bulma/bulma.sass";
$destacado: crimson;
@font-face {
  font-family: 'DejaVu Sans';
  src: url('/assets/DejaVuSans.ttf') format('truetype');
}

kendo-pdf-export {
  font-family: "DejaVu Sans", "Arial", sans-serif;
  font-size: 10px;
}

@import 'assets/estilos.scss';

/* $primary: rgb(113, 213, 253);
@import "~@progress/kendo-theme-default/scss/all"; */


.activoenlace{
  border-bottom: 5px $destacado solid;
}



.pointer{
  cursor: pointer
}

section.section{
  background-color: white;
}
