@font-face {
  font-family: 'DejaVu Sans';
  src: url('/assets/DejaVuSans.ttf') format('truetype');
}

kendo-pdf-export {
  font-family: "DejaVu Sans", "Arial", sans-serif;
  font-size: 10px;
}

@import 'assets/estilos.scss';

/* $primary: rgb(113, 213, 253);
@import "~@progress/kendo-theme-default/scss/all"; */


